.conteudo{
    margin-top: 82px;
}
.form-control:focus{
    box-shadow: 0 0 0 0.2rem #ffc107;
    border: 1px solid #ffc107;
}
.reserva h3{
    margin-bottom: 20px;
    text-align: center;
}
.formTable table{
    border: #000000 2px solid;
}

@media (max-width: 360px) {
    .conteudo{
        margin-top: 67px;
    }
    .titulo{
        font-size: 1.75rem;
    }
}